html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    color: var(--vscode-editor-foreground);
}

img {
    max-width: 100%;
}

npmb-package-detail .tab-content {
    position: absolute;
    overflow-y: auto;
    bottom: 0;
    top: 50px;
    padding-top: 20px;
    left: 0;
    right: 0;
}

body.vscode-light {
    #to-npmjs {
        img {
            filter: brightness(0);
        }
    }
}

body.vscode-dark {
    #to-npmjs {
        img {
            filter: brightness(1);
        }
    }
}

body.vscode-high-contrast {
    #to-npmjs {
        img {
            filter: brightness(1);
        }
    }
}

/* Bootstrap overrides */
.list-group-item {
    background-color: transparent;
    color: var(--vscode-editor-foreground);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: var(--vscode-editor-foreground);
    }

    h5 {
        font-weight: bold;
        font-size: inherit;
        word-break: break-all;
    }

    &.active {
        background-color: var(--vscode-titleBar-activeBackground);
        border-color: var(--vscode-titleBar-activeBackground);
    }
}

.list-group-item-action:focus:not(.active),
.list-group-item-action:hover:not(.active) {
    cursor: pointer;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-tab-inactiveBackground);
}

.form-control,
.form-control:focus {
    background-color: var(--vscode-settings-textInputBackground);
    color: var(--vscode-settings-textInputForeground);
    border: none;
    border-radius: 0;
}

label {
    font-weight: 600;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: var(--vscode-statusBar-background);
    border-color: var(--vscode-statusBar-background);

    &:hover, &:active, &:disabled {
        background-color: var(--vscode-statusBar-background) !important;
        border-color: var(--vscode-statusBar-background) !important;
    }

    &:hover {
        filter: brightness(1.2) !important;
    }

    &:active {
        filter: brightness(1.3) !important;
    }

    &:disabled {
        opacity: 0.5 !important;
    }
}

.btn-link {
    color: var(--vscode-tab-inactiveForeground);
    text-decoration: underline;
    font-size: 14px;

    &:hover {
        color: var(--vscode-editor-foreground);
    }
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: var(--vscode-editor-foreground);

    &:hover {
        color: var(--vscode-titleBar-activeForeground);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-primary:disabled {
    opacity: 1;
    background-color: rgba(78, 163, 255, 0.3);
    border-color: rgba(78, 163, 255, 0.3);
}

.text-muted {
    color: var(--vscode-editorLineNumber-foreground) !important;
}

.alert-info {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-settings-textInputBackground);
    border: none;
}

hr {
    border-color: var(--vscode-settings-dropdownListBorder);
}

.nav-tabs {
    border-bottom: 1px solid var(--vscode-settings-dropdownListBorder);
    margin-bottom: 20px;

    .nav-link {
        color: var(--vscode-tab-inactiveForeground);
        font-weight: bold;
        font-size: 16px;

        &,
        &.active {

            &,
            &:hover {
                background-color: transparent;
                border-color: transparent;
            }
        }

        &.active {
            color: var(--vscode-editor-foreground);
            text-decoration: underline;
        }
    }
}

.modal-content {
    background-color: var(--vscode-settings-textInputBackground);
    border-radius: 0;
}

ngb-pagination .pagination {
    margin: 0;
    display: flex;

    .page-item,
    .page-item.disabled {
        &.active {
            .btn-primary();
        }

        a {
            background-color: var(--vscode-editor-background);
            border: 1px solid var(--vscode-panel-border);
            color: var(--vscode-settings-textInputForeground);
            padding: 12px;
        }

        &.disabled:not(:first-child):not(:last-child) {
            flex: 1 1 auto;
            text-align: center;
        }
    }
}

.badge {
    color: var(--vscode-editor-foreground);
}

.badge.badge-secondary {
    background-color: var(--vscode-titleBar-activeBackground);
}

/* Markdown overrides */
markdown {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
}

/* Prism.js overrides */
pre {
    background-color: var(--vscode-textCodeBlock-background) !important;
}

code[class*="language-"],
pre[class*="language-"] {
    color: var(--vscode-editor-foreground);

    .token.punctuation,
    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.variable {
        color: var(--vscode-editor-foreground);
    }
}