<ng-container *ngIf="(package$ | async) as npmPackage">
    <div id="package-header" class="row">
        <div>
            <fa-icon [icon]="['fas', 'cube']" size="10x"></fa-icon>
        </div>
        <div class="col">
            <h1>{{ npmPackage.name }}</h1>
            <h6>{{ npmPackage.author.name }}</h6>
            <p>{{ npmPackage.description }}</p>
            <form [formGroup]="packageInstallForm" (ngSubmit)="installPackage()">
                <div class="d-flex">
                    <select formControlName="version" class="form-control">
                        <option *ngFor="let version of npmPackage.versions.reverse()" [ngValue]="version.version">
                            {{ version.version }}<ng-container *ngIf="version.distTags.length" > ({{ version.distTags.join(', ') }})</ng-container>
                        </option>
                    </select>
                    <div *ngIf="selectedVersion" class="input-group-append">
                        <button type="submit" class="btn btn-primary" [class.installing]="installingPackage$ | async"
                            [disabled]="(uninstallingPackage$ | async) || (installingPackage$ | async)">
                            <div class="spinner-border spinner-border-sm text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <ng-container *ngIf="installedVersion$ | async as installedVersion; else installText">
                                <ng-container *ngIf="selectedVersion | equals:installedVersion.version; then installText"></ng-container>
                                <ng-container *ngIf="selectedVersion | isGreaterThan:installedVersion.version">Upgrade</ng-container>
                                <ng-container *ngIf="selectedVersion | isLessThan:installedVersion.version">Downgrade</ng-container>
                            </ng-container>
                            <ng-template #installText>Install</ng-template>
                        </button>
                    </div>
                    <div *ngIf="installedVersion$ | async as installedVersion" class="installed-message">
                        <button type="button" class="btn btn-transparent" (click)="uninstallPackage()"
                            [class.installing]="uninstallingPackage$ | async" [disabled]="(uninstallingPackage$ | async) || (installingPackage$ | async)">
                            <div class="spinner-border spinner-border-sm text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <fa-icon [icon]="['fas', 'trash']" size="lg"></fa-icon>
                        </button>
                        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> 
                        Installed 
                        <ng-container *ngIf="installedVersion.type === PackageType.DevDependency">as development dependency </ng-container>
                        <ng-container *ngIf="installedVersion.type === PackageType.OptionalDependency">as optional dependency </ng-container>
                        <b class="ml-1">({{ installedVersion.version.raw }})</b>
                    </div>
                </div>
                <ng-template #installOptionsModal let-modal>
                    <div class="modal-body p-4">
                        <h5>Version range</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="updateLevel" id="updateLevel0" [value]="0">
                            <label class="form-check-label" for="updateLevel0">
                                Exact
                            </label>
                            <span> (--save-exact)</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="updateLevel" id="updateLevel3" [value]="3">
                            <label class="form-check-label" for="updateLevel3">
                                Only patch updates
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="updateLevel" id="updateLevel2" [value]="2">
                            <label class="form-check-label" for="updateLevel2">
                                Only minor and patch updates
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="updateLevel" id="updateLevel1" [value]="1">
                            <label class="form-check-label" for="updateLevel1">
                                Major, minor and patch updates
                            </label>
                        </div>
                        <hr />
                        <h5>Dependency type</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="packageType" id="dependencyPackageType" [value]="PackageType.Dependency">
                            <label class="form-check-label" for="dependencyPackageType">
                                Regular dependency
                            </label>
                            <span> (--save-prod)</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="packageType" id="devDependencyPackageType" [value]="PackageType.DevDependency">
                            <label class="form-check-label" for="devDependencyPackageType">
                                Development dependency
                            </label>
                            <span> (--save-dev)</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="packageType" id="optionalDependencyPackageType" [value]="PackageType.OptionalDependency">
                            <label class="form-check-label" for="optionalDependencyPackageType">
                                Optional dependency
                            </label>
                            <span> (--save-optional)</span>
                        </div>
                    </div>
                </ng-template>
                <button type="button" class="btn btn-link" (click)="openInstallationOptionsModal(installOptionsModal)">
                    <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>More installation options
                </button>
            </form>
        </div>
    </div>
    <ngb-tabset>
        <ngb-tab title="Readme">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col px-5">
                        <markdown *ngIf="npmPackage.readme" ngPreserveWhitespaces [data]="npmPackage.readme"></markdown>
                        <div *ngIf="!npmPackage.readme" class="alert alert-info">
                            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> This package does not have a readme.
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Versions">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col">
                        <p>Versions</p>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-container>