<ng-template #packageJsonSelectModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select a package.json</h4>
    </div>
    <div class="modal-body">
        <p>
            Multiple package.json files where found in the workspace.
            Please select the one you wish to install packages to.
        </p>
        <div class="list-group">
            <div *ngFor="let packageJson of packageJsons$ | async" 
                (click)="selectPackageJson(packageJson)" 
                class="list-group-item list-group-item-action" 
                [class.active]="packageJson === chosenPackageJson">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{ packageJson.name }}</h4>
                    <small class="text-muted">{{ packageJson.version }}</small>
                </div>
                <p class="mb-1">{{ packageJson.description }}</p>
                <small class="text-muted">{{ packageJson.filePath }}</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="save()" type="button" class="btn btn-primary" [disabled]="!chosenPackageJson">Save</button>
    </div>
</ng-template>